body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration { display: none; }

.container {
  margin: 0 auto;
  max-width: calc(#{map-get($container-max-width, 'xl')} + #{map-get($container-padding, 'xl')} * 2);
  padding: 0 #{map-get($container-padding, 'xl')};

  @media (max-width: 1439.98px) {
    max-width: calc(#{map-get($container-max-width, 'l')} + #{map-get($container-padding, 'l')} * 2);
    padding: 0 #{map-get($container-padding, 'l')};
  }

  @media (max-width: 1023.98px) {
    max-width: calc(#{map-get($container-max-width, 'm')} + #{map-get($container-padding, 'm')} * 2);
    padding: 0 #{map-get($container-padding, 'm')};
  }

  @media (max-width: 767.98px) {
    max-width: calc(#{map-get($container-max-width, 's')} + #{map-get($container-padding, 's')} * 2);
    padding: 0 #{map-get($container-padding, 's')};
  }
}

.img {
  max-width: 100%;
  object-fit: cover;
}

address {
  font-style: normal;
}

.stop-scroll {
  overflow: hidden;
}

.logo {
  outline: 3px solid transparent;
  outline-offset: 3px;
  transition: outline-color 150ms ease-in-out;

  &:focus-visible {
    outline-color: $primary-col;
  }

  &:hover, &:active {
    outline-color: transparent;
  }
}

.colored-btn {
  padding: 13px 19px;
  background-color: $primary-col;
  border: 3px solid $primary-col;
  font-weight: 700;
  font-size: var(--font-size-text);
  line-height: $line-height-headers;
  color: $bg-lightest-col;
  outline: none;
  transition: border-color 150ms ease-in-out,
              background-color 150ms ease-in-out;

  &:focus-visible{
    border-color: $primary-active-col;
  }

  &:hover {
    background-color: $primary-hover-col;
    border-color: $primary-hover-col;
  }

  &:active {
    background-color: $primary-active-col;
    border-color: $primary-active-col;
  }

  @media (max-width: 767.98px) {
    padding: 9px 19px;
  }
}

.transp-btn {
  padding: 13px 19px;
  background-color: transparent;
  border: 3px solid $primary-col;
  font-weight: 700;
  font-size: var(--font-size-text);
  line-height: $line-height-headers;
  color: $bg-lightest-col;
  outline: none;
  transition: border-color 150ms ease-in-out,
              background-color 150ms ease-in-out;

  &:focus-visible{
    background-color: $primary-hover-col;
    border-color: $primary-col;
  }

  &:hover {
    background-color: $primary-col;
    border-color: $primary-col;
  }

  &:active {
    background-color: $primary-active-col;
    border-color: $primary-active-col;
  }

  @media (max-width: 767.98px) {
    padding: 9px 19px;
  }
}

.tag {
  position: absolute;
  padding: 6px 14px;
  background-color: $bg-darkest-col;
  color: $bg-lightest-col;
  font-size: var(--font-size-medium-text);
  line-height: $line-height-medium-text;
}

.form-error-msg {
  position: absolute;
  top: 3px;
  left: 21px;
  display: inline-block;
  max-width: calc(100% - 40px);
  font-size: var(--font-size-error-text);
  line-height: $line-height-medium-text;
  transform: translateY(-130%);
  transition: transform 150ms ease-in-out;
}

.text-inp {
  padding: 14px 20px;
  font-size: var(--font-size-text);
  line-height: $line-height-headers;
  outline: none;
  transition: color 150ms ease-in-out,
              border-color 150ms ease-in-out;

  &::placeholder {
    transition: color 150ms ease-in-out;
  }

  @media (max-width: 767.98px) {
    padding: 12px 20px;
  }
}

.text-inp--dark {
  background-color: $bg-input-dark-col;
  border: 1px solid $bg-input-dark-col;
  color: $bg-lightest-col;

  &::placeholder {
    color: $text-grey-col;
  }

  &:hover {
    border-color: $bg-input-dark-col;
    color: $primary-col;

    &::placeholder {
      color: $primary-col;
    }
  }

  &:focus-visible {
    border-color: $primary-col;
    color: $bg-lightest-col;

    &::placeholder {
      color: $text-grey-col;
    }
  }
}

.text-inp--light {
  background-color: $bg-light-col;
  border: 1px solid $bg-light-col;
  color: $bg-darkest-col;

  &::placeholder {
    color: $text-dark-grey-col;
  }

  &:hover {
    border-color: $bg-light-col;
    color: $primary-col;

    &::placeholder {
      color: $primary-col;
    }
  }

  &:focus-visible {
    border-color: $primary-col;
    color: $bg-darkest-col;

    &::placeholder {
      color: $text-dark-grey-col;
    }
  }
}

.form-wrapper {
  position: relative;
  overflow: hidden;

  &--error {
    .form-error-msg {
      transform: none;
    }

    .text-inp--dark {
      border-color: $error-light-col;

      &:focus-visible, &:hover, &:active {
        border-color: $error-light-col;
      }
    }

    .text-inp--light {
      border-color: $error-dark-col;

      &:focus-visible, &:hover, &:active {
        border-color: $error-dark-col;
      }
    }
  }
}

.text-inp--dark ~ .form-error-msg  {
  color: $error-light-col;
}

.text-inp--light ~ .form-error-msg  {
  color: $error-dark-col;
}

.primary-link {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: $line-height-text;
  color: $primary-col;
  transition: background-color 150ms ease-in-out,
              color 150ms ease-in-out;
  outline: none;

  svg {
    fill: $primary-col;
    transition: fill 150ms ease-in-out;
  }

  &:focus-visible {
    background-color: $primary-hover-col;
    color: $bg-lightest-col;

    svg {
      fill: $bg-lightest-col;
    }
  }

  &:hover {
    color: $primary-hover-col;
    background-color: transparent;

    svg {
      fill: $primary-hover-col;
    }
  }

  &:active {
    color: $primary-active-col;
    background-color: transparent;

    svg {
      fill: $primary-active-col;
    }
  }
}

.close-btn {
  background-color: $text-dark-grey-col;
  background-image: url(../img/close.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
  transition: background-color 150ms ease-in-out;

  &:focus-visible{
    background-color: $primary-hover-col;
  }

  &:hover {
    background-color: $primary-col;
  }

  &:active {
    background-color: $primary-active-col;
  }
}

.visually-hidden {
  display: inline-block !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  font-size: 1px !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  opacity: 0 !important;
}
